h1,
h2,
h3,
h4,
h5 {
	color: inherit;
}

p {
	font-size: 1rem;
	line-height: 1.5;
	font-weight: normal;
}

h1 {
	font-weight: 300;
	font-size: grid(1);
	line-height: 1;
	@include min-(font-size, 1, 32);
	@include max-(font-size, 1, 100);
}

h2 {
	font-weight: normal;
	font-weight: 300;
	font-size: grid(0.6);
	line-height: 1;
	@include min-(font-size, 0.6, 18);
	@include max-(font-size, 0.6, 64);
}

h3 {
	font-weight: normal;
	font-size: grid(0.5);
	line-height: 1;
	@include min-(font-size, 0.5, 14);
	@include max-(font-size, 0.5, 48);
}


h4 {
	font-weight: normal;
	font-size: 1.25rem;
	opacity: .25;
	line-height: 1;
	// @include min-(font-size, 0.5, 12);
	// @include max-(font-size, 0.5, 32);
}
