// colors
$accentColor: #7329b1;
$textColor: #000000;
$borderColor: #999999;
$codeBgColor: #151515;
$arrowBgColor: #000000;

// layout
$navbarHeight: 3.6rem;
$sidebarWidth: 20rem;
$contentWidth: 740px;

// responsive breakpoints
$MQNarrow: 959px;
$MQMobile: 719px;
$MQMobileNarrow: 419px;

// code
$lineNumbersWrapperWidth: 3.5rem;
