
.custom-block{
	.custom-block-title{
		font-weight: 600;
		margin-bottom: -0.4rem;
	}
	&.tip, &.warning, &.danger{
		padding: 1rem 1.5rem;
		border-left-width: .5rem;
		border-left-style: solid;
		margin: 1rem 0;
	}
	&.tip{
		background-color: color(Tip, .2);
		border-color: color(Tip);
	}
	&.warning{
		background-color: color(Warning,.3);
		border-color: darken(Warning, 35%);
		color: darken(Warning, 70%);
		.custom-block-title{
			color: darken(Warning, 50%);
		}
		a{
			color:color(textColor);
		}
	}
	&.danger{
		background-color: color(Danger, .2);
		border-color: darken(Danger, 20%);
		color: darken(Danger, 70%);
		.custom-block-title{
			color: darken(Danger, 40%);
		}
		a{
			color:color(textColor);
		}
	}
}
