
.custom-block{
	.custom-block-title{
		font-weight: 600;
		margin-bottom: -0.4rem;
	}
	&.tip, &.warning, &.danger{
		padding: 1rem 1.5rem;
		border-left-width: .5rem;
		border-left-style: solid;
		margin: 1rem 0;
	}
	&.tip{
		background-color: rgba($color-success, .2);
		border-color: color($color-success);
	}
	&.warning{
		background-color: rgba($color-warning, .3);
		border-color: rgba($color-warning, .8);
		color: darken($color-warning, 70%);
		.custom-block-title{
			color: darken($color-warning, 50%);
		}
		a{
			color:color(textColor);
		}
	}
	&.danger{
		background-color: rgba($color-danger, .2);
		border-color: darken($color-danger, 20%);
		color: darken($color-danger, 70%);
		.custom-block-title{
			color: darken($color-danger, 40%);
		}
		a{
			color:color(textColor);
		}
	}
}
