$color-primary: color(Blue);
$color-secondary: color(Purple);
$color-dark: color(Black);
$color-light: color(White);
$color-warning: color(Orange);
$color-error: color(Red);
$color-success: color(Green);
$color-border: color(offWhite);


// Color configuration
$accentColor: color(Purple);
$textColor: color(Dirt);
$borderColor:color(offWhite);
$codeBgColor: color(Dark);
$arrowBgColor: color(offWhite);

// Layout configuration
$navbarHeight: 3.5rem;
